fastapi==0.110.0
uvicorn[standard]==0.27.1
sqlalchemy>=2.0.40,<2.1
psycopg2-binary>=2.9.11  # Para conectar a Postgres en Supabase
python-dotenv==1.0.1
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
jinja2==3.1.3
python-multipart==0.0.9
pydantic>=2.12,<3